{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">
        <article>

            <CENTER>
                <span id="subti">
                    <h2>Pompon </h2>
                </span>
                <br>
                <p>
                    <span id="texto">


                        <img src="/static/imagenes/conejo1.jpg" style="border: 10px solid; color: rgb(47, 49, 63);"
                            width="250px" height="190px">

            </CENTER>
            </span>

            <BR>

            <span id="texto">

                Descripción:
                <BR>
                <BR>
                ¡Conoce a "Peluche"! Este adorable conejo es una de las mascotas más tiernas y amigables que
                encontrarás en nuestra clínica veterinaria. Con su suave pelaje y su dulce personalidad, Peluche ha
                cautivado los corazones de todos los que tienen el placer de conocerlo.
                <BR>
                <BR>
                Características Físicas:
                <BR>
                <BR>
                Peluche es un conejo de tamaño mediano con un pelaje suave y esponjoso que invita a ser acariciado.
                Su coloración varía entre tonos de blanco, beige y gris, creando un patrón único y encantador en su
                pelaje. Sus grandes orejas erguidas y ojos brillantes le dan una apariencia expresiva y adorable.
                <BR>
                <BR>
                Personalidad:
                <BR>
                <BR>
                Peluche es una mascota extremadamente amigable y sociable. Le encanta interactuar con las personas y
                otros animales, y es conocido por su naturaleza juguetona y afectuosa. Disfruta de la atención y el
                cariño humano, y es fácilmente entrenable para participar en actividades divertidas y
                enriquecedoras.
                <BR>
                <BR>
                Aunque es activo y curioso, Peluche también disfruta de momentos de tranquilidad y relajación, donde
                puede acurrucarse cómodamente en su espacio seguro y disfrutar de un poco de tiempo tranquilo.
                <BR>
                <BR>
                Cuidados Especiales:
                <BR>
                <BR>
                Como conejo, Peluche necesita una dieta equilibrada compuesta principalmente de heno de buena
                calidad, así como una variedad de verduras frescas y una cantidad limitada de pellets específicos
                para conejos. Además, requiere espacio suficiente para ejercitarse y explorar, así como cuidados
                regulares de su pelaje y uñas.
                <BR>
                <BR>
                Es importante proporcionarle juguetes y actividades que estimulen su mente y mantengan su cuerpo en
                forma y saludable. Los chequeos veterinarios periódicos son esenciales para detectar y prevenir
                cualquier problema de salud potencial.
                <BR>
                <BR>
                Parte de la Familia:
                <BR>
                <BR>
                Peluche es más que una mascota; es parte de nuestra familia aquí en la clínica veterinaria. Nos
                comprometemos a brindarle el mejor cuidado posible para garantizar que disfrute de una vida feliz y
                saludable junto a sus seres queridos.
                <BR>
                <BR>
                ¡Ven a conocer a Peluche en persona y descubre la dulzura y la alegría que este encantador conejo
                puede traer a tu vida!

            </span>
            </p>
        </article>





    </section>
</section>
<aside>
    <span id="subti">
        <h3> Avisos:</h3>
    </span>
    <span id="texto">
        <p>
            En adopción:
            <BR>
            <BR>
            Rocky es un bull terrier en nuestra clínica. Con su apariencia robusta y su personalidad amigable, es un
            perro leal y juguetón que trae alegría a todos a su alrededor. ¡Ven a conocer a Rocky y deja que su
            energía
            te contagie!
            <BR>
            <BR>
            <CENTER>
                <img src="/static/imagenes/bulls.jpeg" style="border: 10px solid; color: rgb(47, 49, 63);" width="250px"
                    height="190px">
            </CENTER>

        </p>
    </span>
</aside>

{% endblock %}