{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">
        <article>
            <span id="subti">
                <h2>Contáctanos: </h2>
            </span>
            <br>
            <p>
                <span id="texto">


                    ¡Haz una cita hoy mismo y deja que nuestro equipo experto cuide de tu mascota como se merece!
                    Puedes
                    encontrarnos en nuestra ubicación física en Av. Hacienda de Ojocaliente 296, Haciendas de
                    Aguascalientes, 20196 Aguascalientes, Ags. o comunicarte con nosotros a través de
                    nuestro número de teléfono 4491436935 o nuestro
                    correo electrónico: hospitalnutripetcare@gmail.com.

                </span>
            </p>
        </article>

        <article>
            <span id="subti">
                <h2>Síguenos en Redes Sociales: </h2>
            </span>
            <br>
            <p>
                <span id="texto">



                    Mantente al día con las últimas noticias, consejos de cuidado de mascotas y promociones
                    especiales
                    siguiéndonos en nuestras redes sociales. Encuéntranos en <a
                        href="https://www.instagram.com/nutrisnutrias/">Instagram</a>, <a
                        href="https://www.facebook.com/?locale=es_LA">Facebook </a> y <a
                        href="https://www.google.com/search?q=veterinaria+aguascalientes&oq=veter&gs_lcrp=EgZjaHJvbWUqCggCEAAYkgMYgAQyBggAEEUYOTIMCAEQABhDGIAEGIoFMgoIAhAAGJIDGIAEMg0IAxAAGJIDGIAEGIoFMhIIBBAAGEMYsQMYyQMYgAQYigUyDAgFEAAYQxiABBiKBTIMCAYQABhDGIAEGIoFMgwIBxAAGEMYgAQYigUyDAgIEAAYQxiABBiKBTIMCAkQABhDGIAEGIoF0gEIOTgwNmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8">Nuestra
                        Pagina</a>

                    En NutriPetCare, tu mascota es parte de nuestra familia. ¡Gracias por confiar en nosotros con su
                    cuidado!

                </span>
            </p>
        </article>





    </section>
</section>
<aside>
    <span id="subti">
        <h3> Avisos:</h3>
    </span>
    <span id="texto">
        <p>
            ¡Atención a todos los amantes de los animales! Estamos emocionados de anunciar que próximamente
            tendremos una variedad aún mayor de adorables mascotas en nuestra clínica veterinaria. Prepárense para
            conocer a nuevos amigos peludos y emplumados que llenarán nuestros corazones de alegría y nuestras
            instalaciones de diversión. ¡Estén atentos para más detalles y no se pierdan la oportunidad de conocer a
            estas encantadoras criaturas!
            <BR>
            <BR>
            ¡Esperamos verlos pronto para dar la bienvenida a nuestros nuevos amigos a la familia de nuestra clínica
            veterinaria NutriPetCare!
        </p>
    </span>
</aside>

{% endblock %}