{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">
        <article>
            <span id="subti">
                <h2>Descripción: </h2>
            </span>
            <br>
            <p>
                <span id="texto">

                    Bienvenido a NutriPetCare, tu destino confiable para el cuidado de tus queridas mascotas. En
                    NuriPetCare, nos enorgullece ofrecer una amplia gama de servicios veterinarios de alta calidad
                    para garantizar la salud y felicidad de tus compañeros peludos.


                    Nuestra Filosofía:

                    En NutriPetCare, no solo tratamos a tus mascotas, las amamos como si fueran nuestras propias.
                    Nos esforzamos por brindar un ambiente cálido y acogedor donde tanto tú como tu peludo amigo se
                    sientan cómodos y bien atendidos.

                </span>
            </p>
        </article>

        <article>
            <span id="subti">
                <h2>Nuestra Filosofía: </h2>
            </span>
            <br>
            <p>
                <span id="texto">

                    En NutriPetCare, no solo tratamos a tus mascotas, las amamos como si fueran nuestras propias.
                    Nos
                    esforzamos por brindar un ambiente cálido y acogedor donde tanto tú como tu peludo amigo se
                    sientan
                    cómodos y bien atendidos.

                </span>
            </p>
        </article>





    </section>
</section>
<aside>
    <span id="subti">
        <h3> Avisos:</h3>
    </span>
    <span id="texto">
        <p>
            ¡Atención a todos los amantes de los animales! Estamos emocionados de anunciar que próximamente
            tendremos una variedad aún mayor de adorables mascotas en nuestra clínica veterinaria. Prepárense para
            conocer a nuevos amigos peludos y emplumados que llenarán nuestros corazones de alegría y nuestras
            instalaciones de diversión. ¡Estén atentos para más detalles y no se pierdan la oportunidad de conocer a
            estas encantadoras criaturas!
            <BR>
            <BR>
            ¡Esperamos verlos pronto para dar la bienvenida a nuestros nuevos amigos a la familia de nuestra clínica
            veterinaria NutriPetCare!
        </p>
    </span>

</aside>

{% endblock %}