{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">
        <article>

            <span id="subti">
                <h2>Bienvenid@ </h2>
            </span>
            <br>
            <p>
                <span id="texto">


                    ¡Por supuesto! Aquí tienes la bienvenida con el nombre de la veterinaria cambiado:
                    <br>
                    <br>
                    <br>
                    ¡Bienvenido a la Clínica Veterinaria "NutriPetCare"!
                    <br>
                    <br>
                    En nombre de todo el equipo en NutriPetCare, queremos darte una calurosa bienvenida a nuestra
                    clínica. Estamos encantados de tenerte aquí y emocionados de poder brindar el mejor cuidado
                    posible a tu preciada mascota.
                    <br>
                    <br>
                    En NutriPetCare, entendemos lo importante que es tu compañero peludo para ti. Es más que una
                    mascota; es un miembro valioso de tu familia. Por eso, nos comprometemos a tratar a cada
                    paciente con el amor, el respeto y la atención que se merecen.
                    <br>
                    <br>
                    Ya sea que estés aquí para una consulta de rutina, una emergencia médica o simplemente para
                    obtener algunos consejos de cuidado, estamos aquí para ayudarte en cada paso del camino. Nuestro
                    equipo de veterinarios altamente calificados y personal de apoyo dedicado trabajará
                    incansablemente para asegurarse de que tu mascota reciba el mejor tratamiento posible.
                    <br>
                    <br>
                    En NutriPetCare, no solo nos preocupamos por la salud física de tu mascota, sino también por su
                    bienestar emocional. Queremos que se sientan seguros, cómodos y felices durante su visita a
                    nuestra clínica.
                    <br>
                    <br>
                    Así que siéntete como en casa aquí en NutriPetCare. Estamos aquí para cuidar de tu amigo peludo
                    y para brindarte el apoyo y la orientación que necesitas como dueño responsable de una mascota.
                    <br>
                    <br>
                    ¡Gracias por confiar en nosotros con el cuidado de tu mascota! Esperamos construir una relación
                    duradera contigo y tu querido compañero peludo.
                    <br>
                    <br>
                    ¡Bienvenido a la familia NutriPetCare!



                </span>
            </p>
        </article>





    </section>
</section>
<aside>
    <span id="subti">
        <h3> Avisos:</h3>
    </span>
    <span id="texto">
        <p>
            ¡Atención a todos los amantes de los animales! Estamos emocionados de anunciar que próximamente
            tendremos una variedad aún mayor de adorables mascotas en nuestra clínica veterinaria. Prepárense para
            conocer a nuevos amigos peludos y emplumados que llenarán nuestros corazones de alegría y nuestras
            instalaciones de diversión. ¡Estén atentos para más detalles y no se pierdan la oportunidad de conocer a
            estas encantadoras criaturas!
            <BR>
            <BR>
            ¡Esperamos verlos pronto para dar la bienvenida a nuestros nuevos amigos a la familia de nuestra clínica
            veterinaria NutriPetCare!
        </p>
    </span>
</aside>

{% endblock %}