{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">
        <article>

            <CENTER>
                <span id="subti">
                    <h2>Pequeño </h2>
                </span>
                <br>
                <p>
                    <span id="texto">


                        <img src="/static/imagenes/minipig1.jpg" style="border: 10px solid; color: rgb(47, 49, 63);"
                            width="250px" height="200px">

            </CENTER>
            </span>

            <BR>

            <span id="texto">

                Descripción:
                <BR>
                <BR>
                ¡Conoce a "Pequeño"! Este encantador mini pig es una de las mascotas más peculiares que podrás
                encontrar en nuestra clínica veterinaria. Con su distintivo tamaño pequeño y su personalidad
                adorable, Pequeño ha cautivado los corazones de todos en nuestra comunidad.
                <BR>
                <BR>
                Características Físicas:
                <BR>
                <BR>
                Pequeño es un mini pig de tamaño compacto, con un cuerpo redondeado y patas cortas que lo hacen
                simplemente irresistible. Su pelaje es suave al tacto y su coloración varía desde tonos rosados
                hasta marrones oscuros, con algunas manchas blancas esparcidas aquí y allá.
                <BR>
                <BR>
                Su hocico curioso y sus ojos chispeantes expresan una inteligencia notable, mientras que sus
                orejas pequeñas y móviles le dan un aspecto simpático y juguetón.
                <BR>
                <BR>
                Personalidad:
                <BR>
                <BR>
                A pesar de su tamaño diminuto, Pequeño tiene una personalidad grande y vibrante. Es curioso por
                naturaleza y siempre está explorando su entorno con gran entusiasmo. Le encanta socializar con
                otros animales y humanos por igual, y es conocido por su naturaleza cariñosa y juguetona.
                <BR>
                <BR>
                Pequeño también tiene un lado inteligente y astuto; le encanta resolver problemas y aprender
                nuevos trucos a cambio de golosinas deliciosas.
                <BR>
                <BR>
                Cuidados Especiales:
                <BR>
                <BR>
                Como mini pig, Pequeño tiene necesidades específicas que deben ser atendidas para garantizar su
                salud y bienestar. Una dieta equilibrada y controlada es esencial, así como la provisión de
                ejercicio adecuado para mantenerlo en forma y feliz.
                <BR>
                <BR>
                Además, Pequeño necesita cuidados regulares de su piel y pezuñas, así como chequeos veterinarios
                periódicos para asegurarse de que esté en óptimas condiciones de salud.
                <BR>
                <BR>
                Parte de la Familia:
                <BR>
                <BR>
                Pequeño es mucho más que una mascota; es parte de nuestra familia aquí en la clínica
                veterinaria. Nos encanta verlo crecer y prosperar, y nos comprometemos a brindarle el mejor
                cuidado posible para que pueda disfrutar de una vida larga y feliz junto a sus seres queridos.
                <BR>
                <BR>
                ¡Visita nuestra clínica y conoce a Pequeño en persona! Estamos seguros de que te robará el
                corazón con su encanto único y su personalidad adorable.

            </span>
            </p>
        </article>





    </section>
</section>
<aside>
    <span id="subti">
        <h3> Avisos:</h3>
    </span>
    <span id="texto">
        <p> Nombre de la Mascota: "Piolín"

            Descripción:
            <BR>
            <BR>
            ¡Conoce a "Piolín"! Este perico vibrante es una explosión de color y alegría en nuestra clínica
            veterinaria. Con su plumaje brillante y su personalidad bulliciosa, Piolín es una mascota encantadora
            que ilumina cualquier espacio con su presencia.
            <BR>
            <BR>
            Características Físicas:
            <BR>
            <BR>
            Piolín es un perico mediano con un plumaje vibrante de verde, azul y amarillo. Sus alas ágiles lo hacen
            perfecto para volar y explorar.
            <BR>
            <BR>
            Personalidad:
            <BR>
            <BR>
            Es un compañero vocal y cariñoso que disfruta interactuar con humanos y otras aves. Es curioso y
            juguetón, siempre buscando aventuras.
            <BR>
            <BR>
            Cuidados:
            <BR>
            <BR>
            Requiere una dieta equilibrada y tiempo para volar fuera de la jaula. Juguetes y estimulación mental son
            esenciales para su bienestar.
            <BR>
            <BR>
            Parte de la Familia:
            <BR>
            <BR>
            Piolín es parte de nuestra familia en la clínica veterinaria, comprometidos con su salud y felicidad.
            <BR>
            <BR>
            ¡Ven a conocer a Piolín y déjate cautivar por su encanto!
            <BR>
            <CENTER>
                <img src="/static/imagenes/perico.jpg" style="border: 10px solid; color: rgb(47, 49, 63);" width="250px"
                    height="200px">
            </CENTER>
        </p>
    </span>

</aside>

{% endblock %}