{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">

        <article>
            <span id="subti">
                <h2>Nuestros Servicios: </h2>
            </span>
            </span>
            <br>
            <p>
                <span id="texto">

                    Consulta Veterinaria: Nuestro equipo de veterinarios altamente capacitados está aquí para
                    atender a
                    tu mascota con amor y cuidado. Desde chequeos de rutina hasta diagnósticos complejos, estamos
                    comprometidos a proporcionar el mejor cuidado posible.

            </p>
            </span>
        </article>

        <article>
            <span id="subti">
                <h2>Cirugía: </h2>
            </span>
            <br>
            <p>
                <span id="texto">
                    Contamos con instalaciones quirúrgicas de vanguardia y un equipo experimentado para
                    realizar una variedad de procedimientos quirúrgicos con el más alto nivel de atención y
                    seguridad.

            </p>

        </article>

        <article>
            <span id="subti">
                <h2>Vacunación y Desparasitación: </h2>
            </span>
            <br>
            <p>
                <span id="texto">
                    Mantén a tu mascota protegida contra enfermedades con nuestros
                    programas de vacunación personalizados y opciones de desparasitación efectivas.
            </p>

        </article>

        <article>
            <span id="subti">
                <h2>Cuidado Dental:</h2>
            </span>
            <br>
            <p>
                <span id="texto">
                    La salud dental es crucial para el bienestar general de tu mascota. Ofrecemos
                    servicios dentales completos, que van desde limpiezas hasta extracciones, para mantener esas
                    sonrisas brillantes.
            </p>

        </article>

        <article>
            <span id="subti">
                <h2>Emergencias 24/7: </h2>
            </span>
            <br>
            <p>
                <span id="texto">
                    Sabemos que los problemas de salud pueden surgir en cualquier momento. Por eso,
                    estamos disponibles las 24 horas del día, los 7 días de la semana, para atender emergencias
                    veterinarias.
            </p>

        </article>

    </section>

    <aside>
        <span id="subti">
            <h3> Avisos:</h3>
        </span>
        <span id="texto">
            <p>
                ¡Atención a todos los amantes de los animales! Estamos emocionados de anunciar que próximamente
                tendremos una variedad aún mayor de adorables mascotas en nuestra clínica veterinaria. Prepárense
                para conocer a nuevos amigos peludos y emplumados que llenarán nuestros corazones de alegría y
                nuestras instalaciones de diversión. ¡Estén atentos para más detalles y no se pierdan la oportunidad
                de conocer a estas encantadoras criaturas!
                <br>
                <br>
                ¡Esperamos verlos pronto para dar la bienvenida a nuestros nuevos amigos a la familia de nuestra
                clínica veterinaria NutriPetCare!
            </p>
        </span>
    </aside>

    {% endblock %}