{% extends "layout.html" %}

{% block content %}

<section class="main">

    <section class="articles">
        <article>

            <CENTER>
                <span id="subti">
                    <h2>Olivia </h2>
                </span>
                <br>
                <p>
                    <span id="texto">


                        <img src="/static/imagenes/nutria2.jpg" style="border: 10px solid; color: rgb(47, 49, 63);"
                            width="220px" height="190px">

            </CENTER>
            </span>

            <BR>

            <span id="texto">

                Descripción:
                <br>
                <br>
                ¡Conoce a "Olivia"! Esta encantadora nutria es una de las mascotas más fascinantes que encontrarás
                en nuestra clínica veterinaria. Con su pelaje suave y su naturaleza juguetona, Olivia ha ganado el
                corazón de todos los que tienen el placer de conocerla.
                <br>
                <br>
                Características Físicas:
                <br>
                <br>
                Olivia es una nutria de río, con un cuerpo esbelto y aerodinámico perfectamente adaptado para nadar.
                Su pelaje es denso y resistente al agua, con tonalidades que van desde el marrón oscuro hasta el
                beige claro, lo que le proporciona una apariencia elegante y hermosa.
                <br>
                <br>
                Sus ojos oscuros brillan con inteligencia y curiosidad, mientras que su nariz puntiaguda y sus
                pequeñas orejas le dan un aspecto adorable y encantador.
                <br>
                <br>
                Personalidad:
                <br>
                <br>
                Esta nutria es todo energía y diversión. Olivia es increíblemente juguetona y activa, siempre
                buscando nuevas formas de entretenerse y explorar su entorno acuático. Le encanta nadar y sumergirse
                en el agua, donde puede mostrar su agilidad y habilidad natatoria.
                <br>
                <br>
                A pesar de su naturaleza juguetona, Olivia también disfruta del afecto humano y es conocida por su
                cariño hacia sus cuidadores. Es inteligente y curiosa, siempre dispuesta a aprender nuevos trucos y
                participar en actividades interactivas.
                <br>
                <br>
                Cuidados Especiales:
                <br>
                <br>
                Como nutria, Olivia necesita un entorno acuático adecuado para satisfacer sus necesidades naturales
                de natación y juego. Además, requiere una dieta específica que refleje su dieta salvaje, compuesta
                principalmente de pescado y mariscos frescos.
                <br>
                <br>
                Es importante proporcionarle enriquecimiento ambiental para mantenerla mentalmente estimulada y
                evitar el aburrimiento, así como chequeos veterinarios regulares para garantizar su salud y
                bienestar general.
                <br>
                <br>
                Parte de la Familia:
                <br>
                <br>
                Olivia es más que una mascota; es parte de nuestra familia aquí en la clínica veterinaria. Nos
                comprometemos a brindarle el mejor cuidado posible para garantizar que disfrute de una vida feliz y
                saludable en compañía de sus seres queridos.
                <br>
                <br>
                ¡Ven a conocer a Olivia en persona y descubre la maravilla de esta increíble nutria! Estamos seguros
                de que su encanto y su personalidad te robarán el corazón desde el primer momento.


            </span>
            </p>
        </article>





    </section>
</section>
<aside>
    <span id="subti">
        <h3> Avisos:</h3>
    </span>
    <span id="texto">
        <p>
            En adopción:
            <BR>
            <BR>
            Bruno, nuestro encantador Bulldog, es un compañero leal y cariñoso que roba corazones con su mirada
            tierna y su personalidad amigable. Con su aspecto distintivo y su naturaleza adorable, es el compañero
            perfecto para cualquier familia que busque amor y diversión.
            <CENTER>
                <img src="/static/imagenes/bulldog.jpg" style="border: 10px solid; color: rgb(47, 49, 63);" width="250px"
                    height="190px">
            </CENTER>

        </p>
    </span>
</aside>

{% endblock %}